*{
    margin : 0;
    padding : 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height : 100vh;
    width : 100%;
    background-image : linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)), url(imagesmyp/bright.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;

}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #cb0001;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent; 
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #cb0001;
    background: #cb0001;
    transition: 1s;
    
}
nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #cb0001;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px; 
    }
    
}

/*---- home -----*/

.solutions{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
h3{
    color: #cb0001;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.sol-col{
    flex-basis: 31%;
    background: #dbf3fa;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    
}
.sol-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
.reach{
    min-height : 100vh;
    width : 100%;
    background-image : linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)), url(imagesmyp/reach.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.mreach{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.mreach h1{
    font-size: 62px;
}
.mreach h2{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.footer{
    text-align: center;
    background: #fffaef;
}
.icons{
    text-align: center;
}
.connect h3{
    color: black;
    text-align: center;
}
.connect h4{
    color: brown;
    text-align: center;
}
.connect p{
    color: dimgrey;
    text-align: center;
}

/*------ products and solutions--------*/

.sub-header{
    min-height : 100vh;
    width : 100%;
    background-image : linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)), url(imagesmyp/macbook.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.solutions-col p{
    color: dimgray;
}
.solutions-col h2{
    color: firebrick;
}
.solutions-col h4{
    color: black;
}
.solutions{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.solutions-col{
    margin-top: 5%;
    display: inline-block;
    justify-content: space-between;
}
@media(max-width: 700px){
    .solutions-col{
        flex-direction: column;
    }
}
.solutions-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.hospitality{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.retail{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.sub-sub-header{
    min-height : 100vh;
    width : 100%;
    background-image : linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)), url(imagesmyp/question.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.aboutus1{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.aboutus1 h1{
    color: darkblue;
}

.aboutus{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.aboutus1 p{
    color: black
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: #f46d75;
    border: 1px solid #f46d75;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent; 
    position: relative;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid #cb0001;
    background: #cb0001;
    transition: 1s;
    
}
.su-header{
    min-height : 100vh;
    width : 100%;
    background-image : linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)), url(imagesmyp/question-mark.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
/*----- enquiry----*/
.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}
.comment-box h3{
    text-align: left;
}
.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}
.comment-form button{
    margin: 10px 0;
}
@media (max-width: 700px){
    .su-header h1{
        font-size: 24px;
        
    }
}
.s-header{
    min-height : 100vh;
    width : 100%;
    background-image : linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)), url(imagesmyp/system.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
    
}